@media (max-width: 419px) {
  .description-text {
    font-size: 0.65rem !important; /* Font size for screens between 0px and 419px */
  }
}

@media (min-width: 420px) and (max-width: 479px) {
  .description-text {
    font-size: 0.9rem !important; /* Font size for screens between 420px and 479px */
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  .description-text {
    font-size: 0.9rem !important; /* Font size for screens between 480px and 500px */
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .description-text {
    font-size: 1rem !important;
  }
}
