/* src/index.css */

/* Tailwind's base styles */
@tailwind base;

/* Tailwind's component styles */
@tailwind components;

/* Tailwind's utility classes */
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  border-radius:0px ;
}
